.item__form {
  display: block;
}

.item__form h1 {
  font-weight: bold;
}

.item__form form {
  background-color: #fff;
  border: 2px solid rgb(236, 241, 249);
}

.item__formName,
.item__formPrice,
.item__formDesc {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 15px;
  justify-content: start;
}

.item__formName input,
.item__formPrice input,
.item__formDesc textarea {
  flex: 1;
  margin-right: 30px;
  padding: 1.5% 2%;
  border: 2px solid rgb(236, 241, 249);
  border-radius: 2%;
}

input[type="submit"] {
  background-color: rgb(86, 85, 208);
  color: rgba(255, 255, 255, 0.93);
  border-radius: 5px;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__header h1 {
  font-weight: bold;
}

.item__header button {
  background-color: rgb(84, 86, 208);
  color: #fff;
  outline: none;
  border: none;
  padding: 7px 13px;
  border-radius: 3px;
}

textarea {
  width: initial !important;
  height: initial !important;
}

@media (min-width: 840px) {
  .item__header h1,
  .item__form h1 {
    font-size: 160%;
  }
  .item__header button {
    font-size: 90%;
  }
}

@media (min-width: 696px) and (max-width: 839px) {
  .item__header h1,
  .item__form h1 {
    font-size: 140%;
  }
  .item__header button {
    font-size: 70%;
  }
}

@media (min-width: 500px) and (max-width: 695px) {
  .item__header h1,
  .item__form h1 {
    font-size: 120%;
  }
  .item__header button {
    font-size: 50%;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .item__header h1,
  .item__form h1 {
    font-size: 100%;
  }
  .item__header button {
    font-size: 30%;
  }
}

@media (max-width: 299px) {
  .item__header h1,
  .item__form h1 {
    font-size: 80%;
  }
  .item__header button {
    font-size: 20%;
  }
}

@media (min-width: 970px) {
  .item__form form {
    font-size: 90%;
    padding: 3%;
    max-width: 95%;
    min-width: 80%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 100% !important;
  }
  input[type="submit"] {
    font-size: 100% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}

@media (min-width: 700px) and (max-width: 969px) {
  .item__form form {
    font-size: 80%;
    padding: 3%;
    max-width: 95%;
    min-width: 80%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 100% !important;
  }
  input[type="submit"] {
    font-size: 100% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .item__form form {
    font-size: 70%;
    padding: 3%;
    max-width: 95%;
    min-width: 80%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 100% !important;
  }
  input[type="submit"] {
    font-size: 90% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .item__form form {
    font-size: 60%;
    padding: 3%;
    max-width: 95%;
    min-width: 80%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 90% !important;
  }
  input[type="submit"] {
    font-size: 80% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}

@media (min-width: 360px) and (max-width: 499px) {
  .item__form form {
    font-size: 50%;
    padding: 3%;
    max-width: 95%;
    min-width: 90%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 70% !important;
  }
  input[type="submit"] {
    font-size: 70% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}

@media (min-width: 200px) and (max-width: 359px) {
  .item__form form {
    font-size: 35%;
    padding: 3%;
    max-width: 95%;
    min-width: 80%;
    display: inline-block;
  }
  .item__formName input,
  .item__formPrice input,
  .item__formDesc textarea {
    font-size: 35% !important;
  }
  input[type="submit"] {
    font-size: 50% !important;
    padding: 2% 2.5% !important;
    min-width: initial !important;
    min-height: initial !important;
  }
}
