.body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(229, 229, 229);
}

.container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  width: 80vw;
  align-items: flex-start;
  justify-content: start;
  border: 2px solid rgb(236, 241, 249);
  height: 80vh;
}

.container > .left {
  flex: 0.2;
  position: sticky;
  background-color: #fff;
  height: 100%;
  top: 0;
  border-right: 2px solid rgb(236, 241, 249);
}

.container > .left > a > h1 {
  font-weight: normal;
  font-size: calc(12px + 0.5vw);
  transition: all 0.25s ease-in-out;
  padding: 10px;
}

.container > .left > h1:hover {
  border-left: 4px solid rgb(84, 86, 208);
  padding-left: 5px;
  color: rgb(84, 86, 208);
  background-color: rgb(249, 251, 255);
}

.selected {
  border-left: 4px solid rgb(84, 86, 208);
  padding-left: 5px;
  color: rgb(84, 86, 208);
  background-color: rgb(249, 251, 255);
}

.container > .right {
  flex: 0.8;
  padding: 0 30px;
  background-color: rgb(249, 251, 255);
  overflow: scroll;
  height: 100%;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 15px;
}

tr:not(:first-child) {
  background-color: rgb(255, 255, 255);
}

th {
  padding: 15px 0;
  line-height: 1.75;
  font-weight: bolder;
  font-size: calc(12px + 0.1vw);
  text-transform: uppercase;
}

td {
  padding: 15px 0;
  line-height: 1.75;
  font-weight: normal;
  font-size: calc(12px + 0.1vw);
}

label {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
